*
{
	margin: 0px;
	padding: 0px;
}

body
{
	max-width: 1200px;
	margin: 0px auto;
}

.logo
{
	margin-top: 12%;
	margin-bottom: 80px;
}

#XoheBB
{
	width: 650px;
}


.editor
{
	max-width: 650px;
	margin-left: 24%;
	width: auto;
	height: auto;
}